@import url(./generic.css);
@import url(./variables.css);

.sidebar,
.right{
    width: var(--sidebar-width);
}

/* Global Container */
.container{
    align-items: flex-start !important; /* Override .content-center { align-items: center; } */ 
}

/* News Feed */
.main{
    width: calc(100% - var(--sidebar-width));

    border: 1px solid red;
    
    padding: 1rem 0;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* All boxes of the main content */
.main > div{
    background-color: white;
    
    margin: auto;
    padding: 1.3rem;
    
    border-radius: 0.5rem;

    box-shadow: 0 1px 2px var(--box-shadow-color);
}

/* Create Story Box */
.main .create-story{
    justify-content: start !important;  /* Override .content-center { justify-content: center; } */
    
    width: 40vw;
    
    cursor: pointer;
}

/* Plus (+) Icon */
.main .create-story .icon{
    width: 4rem;
    height: 4rem;
    
    border-radius: 50%;
    
    background-color: #e7f3fe;
}
.main .create-story .icon strong{
    color: #0571ed;
    font-size: 3.5rem;
    font-weight: normal;
    
    margin-top: -1rem;
}

/* Text Box */
.main .create-story .text{
    margin-left: 1.5rem;
    
    align-items: flex-start !important; /* Override .content-center { align-items: center; } */
    
    width: 100%;
}
.main .create-story .text p:first-of-type{
    font-size: 1.75rem;
}
.main .create-story .text p:first-of-type strong{
    font-weight: 500;
}
.main .create-story .text p:last-of-type{
    color: #65676b;
    font-size: 1.5rem;
}

/* Create Post Box */
.main .create-post{
    justify-content: start !important;  /* Override .content-center { justify-content: center; } */
    align-items: flex-start !important; /* Override .content-center { align-items: center; } */
    
    width: 35.5vw;
}

/* Upper portion of create-post box */
.main .create-post .upper{
    border-bottom: 1px solid #e4e6eb;

    padding-bottom: 1.25rem;
}
.main .create-post .upper img{
    width: 4rem;
    height: 4rem;
    
    border-radius: 50%;
    
    margin-right: 1rem;
}
.main .create-post .upper button{
    color: #65676b;
    font-size: 1.75rem;

    text-align: start;
    
    border: none;
    border-radius: 2rem;
    
    padding: 0.8rem;

    width: 100%;

    cursor: pointer;
}
.main .create-post .upper button:hover{
    background-color: #e1e1e1;
}

/* Lower portion of the create-post box */
.main .create-post .lower{
    padding: 0 1rem;
    padding-top: 1rem;
    
    width: 100%;
    
    justify-content: space-between;
}

/* Action Buttons */
.main .create-post .lower .live-video,
.main .create-post .lower .photo-video,
.main .create-post .lower .feeling-activity{
    cursor: pointer;
    
    padding: 0.5rem 1rem;
    
    border-radius: 0.8rem;
}
.main .create-post .lower .live-video:hover,
.main .create-post .lower .photo-video:hover,
.main .create-post .lower .feeling-activity:hover{
    background-color: #eeeeee;
}
.main .create-post .lower .live-video svg,
.main .create-post .lower .photo-video svg,
.main .create-post .lower .feeling-activity svg{
    font-size: 2.5rem;
}
.main .create-post .lower .live-video span,
.main .create-post .lower .photo-video span,
.main .create-post .lower .feeling-activity span{
    color: #6f6774;
    font-size: 1.5rem;
    font-weight: 500;
    
    margin-left: 0.8rem;
}
.main .create-post .lower .live-video svg path{
    fill: rgb(243, 66, 95);
}
.main .create-post .lower .photo-video svg path{
    fill: rgb(69, 189, 98);
}
.main .create-post .lower .feeling-activity svg path{
    fill: rgb(247, 185, 40);
}

/* Post */
/* User-Info */
.main .post{
    border: 1px solid blue;
    
    padding: 0;
    
    width: 35.5vw;
}
.main .post .user-info{
    width: 100%;
    height: 5rem;
    
    justify-content: start !important;  /* Override .content-center { justify-content: center; } */
}

/* Left portion of the user-info */
.main .post .user-info .left img{
    width: 4rem;
    height: 4rem;
    
    border-radius: 50%;
}

/* Center portion of the user-info */
.main .post .user-info .center{
    color: grey;
    font-size: 1.4rem;
}
.main .post .user-info .center strong{
    color: black;
}

/* Right Portion of the User-Info */
.main .post .right{
    margin: auto;
    
    position: relative;
    right: -7rem;
    top: -1.25rem;
    
    height: auto;
    width: auto;
}
.main .post .user-info .right button{
    background: transparent;
    
    border: none;
    border-radius: 50%;
    
    color: grey;
    font-size: 3rem;
    font-weight: bolder;
    
    cursor: pointer;
    
    padding: 0.25rem;
}
.main .post .user-info .right button:hover{
    background-color: #e5e5e5;
}

/* Content */
.main .post .content img{
    width: 100%;
}