:root{
    --body-bg-color: #f0f2f5;

    --main-color: #1877f2;
    --main-hover-color: #166fe5;

    --navbar-height: 5.6rem;
    --navbar-color: #1c1e21;

    --sidebar-width: 25%;

    --box-shadow-color: rgba(0, 0, 0, 0.2);
}