.modal .form .btn-grey{
    margin-bottom: 1rem;
    margin-right: 1rem;
    float: right;
}
small{
    color: grey;
    font-size: 1.25rem;
}
.signup-modal .form .form-group #login-username{
    margin-bottom: 0.5rem !important;
}

/* Responsiveness */
@media screen and (max-width: 520px) {
    .modal{
        width: 90%;
        margin: auto;
        left: 5vw;
    }
}