@import url(../generic.css);
@import url(../variables.css);

/* Navbar */
.navbar{
    width: 100%;
    height: var(--navbar-height);

    background-color: var(--navbar-bg-color);    
}
.navbar,
.navbar .main{
    display: flex;
    align-items: center;
}

/* Navbar Logo */
.navbar #logo{
    width: 3.9rem;
    height: 3.9rem;

    margin-left: 2.9rem;
}

/* Navbar links list */
.navbar .links{
    margin-left: 2rem;
}

/* Navbar links */
.navbar .links li a{
    color: white;
    
    font-weight: 600;
    font-size: 1.6rem;
}
.navbar .links li a:hover{
    color: hsla(0,0%,100%,.75);
}
.navbar .links li:not(:nth-child(1)){   /* All the LIs except the first one */
    margin-left: 1.75rem;
}

/* Action group */
.navbar .action{
    position: absolute;
    right: 0;
    bottom: auto;
}

/* Form control */
.navbar .action .form-control{
    margin-right: 1.5rem;
}

/* Search bar */
.navbar .action .form-control #search-bar{
    height: var(--action-height);
    
    border-radius: 0.5rem;
    border: none;
    
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    
    color: var(--search-bar-color);
    
    font-size: 1.6rem;
    
    caret-color: var(--search-bar-color);
}
.navbar .action .form-control #search-bar:focus{
    box-shadow: 0 0 2px 2px #0082e6;
    outline: #066de2;
}

/* SignUp Button */
.navbar .action .btn-container #signup-btn{
    margin-left: 0.5rem;
    margin-right: 1rem;
}

/* Responsiveness */
.navbar .hamburger img{
    width: 3rem;
    
    filter: invert(1);  /* This will convert the black hamburger to white */
    
    margin-right: 2rem;
    
    border: 1px solid grey;
    border-radius: 0.5rem;
    
    display: none;  /* This will be set to block once the desired with is achieved */

    position: absolute;
    right: 1rem;
    top: 1rem;

    cursor: pointer;
}

@media screen and (max-width: 991px){
    .navbar .hamburger img{
        display: block;
    }
    .navbar,
    .navbar .links,
    .navbar .action{
        display: block;
        height: auto;
    }
    .navbar .action{
        position: static;
        margin-left: 1.6rem;
        margin-bottom: 1rem;
    }
    .navbar #logo{
        margin-top: 1rem;
    }
    .navbar .links li{
        margin: 2rem 0;
    }
    .navbar .links li:not(:first-of-type){  /* List Item that is not the first in the links list*/
        margin-left: 0rem;
    }
    .navbar .action button,
    .navbar .action input{
        margin: 0.3rem;
    }
    .navbar .main{
        display: none;  /* This will be set to block as soon as the user presses the hamburger button */
    }
}

@media screen and (max-width: 575px){
    .navbar .action input{
        width: 100%;
    }
}