@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@import url(./variables.css);
@import url(./generic.css);

/* General Styling */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box; /* Use the alternate box model instead of the standard one */
}
html{
    font-size: 62.5%;   /* Now, 1rem = 10px */
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar{
    width: 100%;
    height: auto;

    background: transparent;

    padding: 1rem 0;
}

/* Navbar Links */
.navbar .links{
    justify-content: end;
    align-items: center;
}
.navbar .links li a{
    color: black;
    font-size: 1.25rem;
}
.navbar .links li a:hover{
    text-decoration: underline;
}
.navbar .links li:nth-of-type(2),
.navbar .links li:last-of-type{
    margin-left: 1rem;
    margin-right: 2rem;
}
.navbar .links li:nth-of-type(3){
    background-color: transparent;

    border-radius: 50%;

    padding: 0.8rem;

    font-size: 0.5rem;
}
.navbar .links li:nth-of-type(3):hover{
    background-color: var(--light-grey);
}
.navbar .links li:nth-of-type(3),
.navbar .links li:last-of-type{
    cursor: pointer;
}
.navbar .links li svg{
    width: 2.25rem;
    height: 2.25rem;
}
.navbar .links li svg path{
    fill: var(--grey);
}
.navbar .links li img{
    border-radius: 50%;
}

/* Main Content */

/* Form */
.main .form{
    margin-top: 2.5rem;
}

/* Icons */
.main .form .form-group svg{
    position: relative;
    top: auto;
}
.main .form .form-group svg:first-of-type{
    height: 2rem;
    width: 2rem;

    right: -3rem;
}
.main .form .form-group svg:first-of-type path{
    fill: var(--medium-grey);
}
.main .form .form-group svg:last-of-type{
    height: 2.5rem;
    width: 2.5rem;

    left: -4rem;

    cursor: pointer;
}
.main .form .form-group input{
    color: var(--black);
    font-size: 1.6rem;
    
    width: 57.5rem;
    height: 3.5rem;
    
    word-wrap: break-word;
    
    border-radius: 10rem;
    border: 1px solid lightgrey;
    
    padding: 2.25rem 5rem 2.25rem 4rem;
}
.main .form .form-group input:hover,
.main .form .form-group input:focus{
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}