@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@import url(./variables.css);
@import url(./generic.css);

/* General Styling */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box; /* Use the alternate box model instead of the standard one */
}
html{
    font-size: 62.5%;   /* Now, 1rem = 10px */
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar{
    width: 100%;
    height: auto;

    background: transparent;

    padding: 1rem 0;
}

/* Navbar Links */
.navbar .links{
    display: flex;
    justify-content: end;
    align-items: center;
}
.navbar .links li a{
    color: black;
    font-size: 1.25rem;
}
.navbar .links li a:hover{
    text-decoration: underline;
}
.navbar .links li:nth-of-type(2),
.navbar .links li:last-of-type{
    margin-left: 1rem;
    margin-right: 2rem;
}
.navbar .links li:nth-of-type(3){
    background-color: transparent;

    border-radius: 50%;

    padding: 0.8rem;

    font-size: 0.5rem;
}
.navbar .links li:nth-of-type(3):hover{
    background-color: var(--light-grey);
}
.navbar .links li:nth-of-type(3),
.navbar .links li:last-of-type{
    cursor: pointer;
}
.navbar .links li svg{
    width: 2.25rem;
    height: 2.25rem;
}
.navbar .links li svg path{
    fill: var(--grey);
}
.navbar .links li img{
    border-radius: 50%;
}