.content-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    height: var(--action-height);
    
    padding: 0.5rem 1rem;
        
    border: none;
    border-radius: 0.5rem;

    letter-spacing: 1px;

    cursor: pointer;

    font-weight: 400;
    font-size: var(--btn-font-size);

    color: white;
}
.btn:hover{
    transition-duration: var(--btn-transition-duration);
    transition-timing-function: var(--btn-transition-timing-function);
}

.btn-red{
    background-color: var(--btn-red-bg-color);
}
.btn-red:hover,
.btn-red:focus{
    background-color: var(--btn-red-hover-bg-color);
}
.btn-red:focus{
    box-shadow: var(--btn-shadow-offset-x) var(--btn-shadow-offset-y) var(--btn-shadow-blur-radius) var(--btn-shadow-spread-radius) var(--btn-red-focus-bg-color);
}

.btn-green
{
    background-color: var(--btn-green-bg-color);
}
.btn-green:hover,
.btn-green:focus{
    background-color: var(--btn-green-hover-bg-color);
}
.btn-green:focus{
    box-shadow: var(--btn-shadow-offset-x) var(--btn-shadow-offset-y) var(--btn-shadow-blur-radius) var(--btn-shadow-spread-radius) var(--btn-green-focus-bg-color);
}

.btn-blue{
    background-color: var(--btn-blue-bg-color);
}
.btn-blue:hover,
.btn-blue:focus{
    background-color: var(--btn-blue-hover-bg-color);
}
.btn-blue:focus{
    box-shadow: var(--btn-shadow-offset-x) var(--btn-shadow-offset-y) var(--btn-shadow-blur-radius) var(--btn-shadow-spread-radius) var(--btn-blue-focus-bg-color);
}

.card{
    flex-direction: column;
    
    width: var(--card-width);
    
    border: 1px solid var(--card-border-color);
    border-radius: var(--card-img-border-radius);
    
    padding: var(--card-padding);
    
    text-align: center;
}
.card img{
    width: 100%;
    
    border-radius: var(--card-img-border-radius);
    
    margin-bottom: 1rem;
}
.card header{
    margin-bottom: 1.2rem;
    
    font-size: 2rem;
    font-weight:lighter;
    
    color: var(--card-header-color);
}
.card p{
    margin-bottom: 1.6rem;
    
    font-size: 1.65rem;
    
    color: var(--card-header-color);
}
.card button{
    width: calc(var(--card-width) - var(--card-padding)*2);
    margin-bottom: 1.5rem;
}

.backdrop{
    background: rgba(0, 0, 0, 0.25);
    
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100vh;
    width: 98.75vw;
    
    opacity: 0;
    display: none;

    z-index: 2; /* Render the backdrop on top of everything expect modals */

    transition: opacity .15s linear;
}