.content-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    height: var(--action-height);
    
    padding: 0.5rem 1rem;
        
    border: none;
    border-radius: 0.5rem;

    letter-spacing: 1px;

    cursor: pointer;

    font-weight: 400;
    font-size: var(--btn-font-size);

    color: white;
}
.btn:hover{
    transition-duration: var(--btn-transition-duration);
    transition-timing-function: var(--btn-transition-timing-function);
}

.btn-red{
    background-color: var(--btn-red-bg-color);
}
.btn-red:hover,
.btn-red:focus{
    background-color: var(--btn-red-hover-bg-color);
}
.btn-red:focus{
    box-shadow: var(--btn-shadow-offset-x) var(--btn-shadow-offset-y) var(--btn-shadow-blur-radius) var(--btn-shadow-spread-radius) var(--btn-red-focus-bg-color);
}

.btn-green
{
    background-color: var(--btn-green-bg-color);
}
.btn-green:hover,
.btn-green:focus{
    background-color: var(--btn-green-hover-bg-color);
}
.btn-green:focus{
    box-shadow: var(--btn-shadow-offset-x) var(--btn-shadow-offset-y) var(--btn-shadow-blur-radius) var(--btn-shadow-spread-radius) var(--btn-green-focus-bg-color);
}

.btn-blue{
    background-color: var(--btn-blue-bg-color);
}
.btn-blue:hover,
.btn-blue:focus{
    background-color: var(--btn-blue-hover-bg-color);
}
.btn-blue:focus{
    box-shadow: var(--btn-shadow-offset-x) var(--btn-shadow-offset-y) var(--btn-shadow-blur-radius) var(--btn-shadow-spread-radius) var(--btn-blue-focus-bg-color);
}

.btn-grey{
    background-color: var(--btn-grey-bg-color);
}
.btn-grey:hover,
.btn-grey:focus{
    background-color: var(--btn-grey-hover-bg-color);
}
.btn-grey:focus{
    box-shadow: var(--btn-shadow-offset-x) var(--btn-shadow-offset-y) var(--btn-shadow-blur-radius) var(--btn-shadow-spread-radius) var(--btn-grey-focus-bg-color);
}

.btn-outline-red{
    border: 1px solid var(--btn-outline-red-color);
    
    color: var(--btn-outline-red-color);
    
    background-color: transparent;
}
.btn-outline-red:hover{
    background-color: var(--btn-outline-red-color);
    color: white;
}

.card{
    flex-direction: column;
    
    width: var(--card-width);
    
    border: 1px solid var(--card-border-color);
    border-radius: var(--card-img-border-radius);
    
    padding: var(--card-padding);
    
    text-align: center;
}
.card img{
    width: 100%;
    
    border-radius: var(--card-img-border-radius);
    
    margin-bottom: 1rem;
}
.card header{
    margin-bottom: 1.2rem;
    
    font-size: 2rem;
    font-weight:lighter;
    
    color: var(--card-header-color);
}
.card p{
    margin-bottom: 1.6rem;
    
    font-size: 1.65rem;
    
    color: var(--card-header-color);
}
.card button{
    width: calc(var(--card-width) - var(--card-padding)*2);
    margin-bottom: 1.5rem;
}

.backdrop{
    background: rgba(0, 0, 0, 0.5);
    
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100vh;
    width: 98.75vw;
    
    opacity: 0;
    display: none;

    position: fixed;

    z-index: 2; /* Render the backdrop on top of everything expect modals */

    transition: all .15s linear;
}

.modal{
    position: absolute;
    top: -200%;
    left: calc((100vw - calc(var(--modal-width)))/2);   /* (100vw - width of modal)/2 */

    border-radius: var(--modal-border-radius);
    border: 1px solid var(--modal-border-color);
    
    z-index: 3; /* Render the modal on top of everything */
    
    width: var(--modal-width);
    
    background-color: white;

    display: none;  /* The display will be set to block as soon as the user clicks on the login button */

    transition: all 0.5s ease-out;
}
.modal .modal-header{
    flex-direction: column;   
    
    padding: 1.5rem;
}
.modal .modal-header .close-btn{
    position: absolute;
    top: 5px;
    right: 10px;
    
    font-size: 2.5rem;
    
    color: grey;
    
    cursor: pointer;
}
.modal .modal-header .close-btn:hover{
    color: black;
}
.modal .modal-header img{
    width: 18.4vw;
    
    margin-top: 1.6rem;
    
    border: 1px solid black;
    border-radius: var(--modal-border-radius);
}
.modal .form .form-group{
    padding: 2rem;
}
.modal .form .form-group label{
    font-size: 1.5rem;
}
.modal .form .form-group input{
    width: 100%;
    
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    
    padding: 1rem;
    
    font-size: 1.6rem;
    
    color: var(--modal-input-color);
    
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}
.modal .form .form-group button{
    margin-bottom: 2rem;
}
.modal .form .form-group span{
    text-decoration: underline;
    
    font-size: 1.5rem;

    cursor: pointer;
}
.modal .form hr{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.video-card{
    flex-direction: column;
    text-align: center;
    width: 30vw;
    margin: 1rem;
}
.video-card img{
    height: var(--video-card-img-height);
    width: var(--video-card-img-width);
    border-radius: 50%;
}
.video-card h1{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
.video-card p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}