:root{
    --navbar-height: 5.6rem;
    --navbar-bg-color: #343a40;
    
    --action-height: 3.8rem;
    
    --search-bar-color: #495057;

    --jumbotron-bg-color: #e9ecef;
    --jumbotron-logo-width: 80%;
    --jumbotron-text-color: #6c757d;
    
    --btn-font-size: 1.5rem;
    --btn-shadow-offset-x: 0;
    --btn-shadow-offset-y: 0;
    --btn-shadow-blur-radius: 3px;
    --btn-shadow-spread-radius: 4px;
    --btn-transition-duration: 0.15s;
    --btn-transition-timing-function: ease-in-out;

    --btn-red-bg-color: #dc3545;
    --btn-red-hover-bg-color: #c82333;
    --btn-red-focus-bg-color: #f5727f;
    --btn-green-bg-color: #28a745;
    --btn-green-hover-bg-color: #218838;
    --btn-green-focus-bg-color: #93e0a5;
    --btn-blue-bg-color: #007bff;
    --btn-blue-hover-bg-color: #0069d9;
    --btn-blue-focus-bg-color: #7eabdb;
    --btn-grey-bg-color: #6c757d;
    --btn-grey-hover-bg-color: #5a6268;
    --btn-grey-focus-bg-color: #adb8c2;

    --card-width: 28.8rem;
    --card-padding: 1rem;
    --card-border-color: rgba(0, 0, 0, 0.125);
    --card-header-color: #212529;
    --card-img-border-radius: 3px;

    --modal-border-radius: 3px;
    --modal-width: 40vw;
    --modal-border-color: #4a4a4a;
    --modal-input-color: #495057;
}