@import url(./generic.css);
@import url(./variables.css);

/* Navbar */
.navbar{
    background-color: white;
    
    height: var(--navbar-height);
    width: 100%;
    
    color: var(--navbar-color);
    
    box-shadow: 0 0 2px 2px #dddfe2;
    
    justify-content: start !important;

    position: fixed;
    top: 0;
    left: 0;
}

/* Left Portion of Navbar */
.navbar .left{
    margin-left: 1.6rem;

    width: 100%;

    justify-content: start !important;
}

/* Logo */
.navbar .left img{
    height: 4rem;
    width: 4rem;
}

/* Input Field */
.navbar .left input{
    height: 4rem;
    
    border: none;
    border-radius: 5rem;
    
    color: rgb(5, 5, 5);
    font-weight: normal;
    font-size: 1.5rem;
    
    padding: 0.7rem 1.6rem 0.9rem 3.6rem;
    margin-left: 1rem;
    
    background-color: rgb(240, 242, 245);
}
.navbar .left input::-webkit-input-placeholder{
    color: #7d7e83;
}

/* Search Icon */
.navbar .left #search-icon{
    font-size: 1.5rem;
    color: #7d7e83;
    
    position: absolute;
    left: 8rem;
}
.navbar .left #search-icon path{
    fill: #64676a;
}

/* Center portion of the navbar */
.navbar .center{
    margin: auto;
    margin-left: 4rem;
    
    width: 100%;
}

/* Icons */
.navbar .center .icon{
    width: 10.25rem;
    height: 5rem;
    
    margin-left: 2rem;
    
    border-radius: 1rem;
        
    cursor: pointer;
}
.navbar .center .icon:hover{
    background-color: #f6f6f6;
}
.navbar .center .icon svg path{
    fill: #65676b;
}

/* Active Icon */
.navbar .center .active{
    border-radius: 0;
    border-bottom: 3px solid var(--main-color);
    
    height: var(--navbar-height);
}
.navbar .center .active:hover{
    background-color: transparent;
}
.navbar .center .active svg path{
    fill: var(--main-color);
}

/* Right portion of the navbar */
.navbar .right{
    width: 100%;
    
    justify-content: start !important;
    
    margin-left: 10rem;
}

/* 'Find Friends' Button */
.navbar .right button{
    font-weight: bold;   
    font-size: 1.5rem;
    color: #343536;
    
    border: none;
    border-radius: 1.8rem;
    
    padding: 1rem 1.2rem;
    margin-right: 1rem;
    
    background-color: #e4e6eb;
    
    cursor: pointer;
}
.navbar .right button:hover,
.navbar .right .action-btn-container .icon:hover{
    background-color: rgb(216, 217, 219);
}

/* Profile Pic */
.navbar .right img{
    width: 3rem;
    height: 3rem;
    
    border-radius: 50%;
    
    margin-right: 0.25rem;
}

/* User Name */
.navbar .right span{
    overflow-x: hidden;
    text-overflow: ellipsis;
    
    width: 5rem;
    
    font-weight: 600;
    font-size: 1.5rem;
    font-family: tahoma;
    color: #050505;
    
    line-height: 1.333;
}

/* Icon */
.navbar .right .action-btn-container .icon{
    background-color: #e4e6eb;
    
    border-radius: 50%;
    
    width: 4rem;
    height: 4rem;
    
    position: relative;
    top: auto;
    left: auto;
    
    margin-left: 0.7rem;
    
    cursor: pointer;
}
.navbar .right .action-btn-container .icon svg{
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.navbar .right .action-btn-container .icon svg:first-of-type,
.navbar .right .action-btn-container .icon svg:last-of-type{    /* First and last svg */
    font-size: 2rem;
}