.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-col{
    flex-direction: column;
}

.pos-absolute{
    position: absolute;
}

.box{
    padding: 1rem;
    background: var(--box-bg-color);
    border: 1px solid var(--main-border-color);
}