@import url(./generic.css);
@import url(./variables.css);

main{
    user-select: none;
}

/* Text Logo */
.text-logo{
    margin-top: 4rem;
    margin-bottom: 6rem;
}
.text-logo p{
    font-size: 1.5rem;
}

/* Heading */
.text-logo h1{
    font-size: 3rem;
    font-weight: 500;
}
.text-logo h1 span{    /* Targeting the first and last character of the word 'WIKIPEDIA' */
    font-size: 4rem;
}

/* Language Cards */
.languages{
    position: relative;
}
.languages .language{
    position: absolute;
    
    min-width: 15rem;
    
    cursor: pointer;
    
    padding: 0.4rem;
}
.languages .language strong{
    color: var(--main-color);
    
    font-size: 1.6rem;
}
.languages .language small{
    color: var(--language-article-color);
    
    font-size: 1.3rem;
    
    line-height: 1.6;
}
.languages .language:hover > strong{
    text-decoration: underline;
}
.languages .language:hover{
    background: var(--language-card-hover-bg-color);
}

/* Indent the cards [A very tedious task] 😫*/
.languages .language:nth-of-type(1){
    left: -32rem;
    top: -13rem;
}
.languages .language:nth-of-type(2){
    left: -37rem;
    top: -7rem;
}
.languages .language:nth-of-type(3){
    left: -39rem;
    top: -1rem;
}
.languages .language:nth-of-type(4){
    left: -35rem;
    top: 5rem;
}
.languages .language:nth-of-type(5){
    left: -29rem;
    top: 12rem;
}
.languages .language:nth-of-type(6){
    left: -3rem;
    top: -13rem;
}
.languages .language:nth-of-type(7){
    left: 2rem;
    top: -7rem;
}
.languages .language:nth-of-type(8){
    left: 4rem;
    top: -1rem;
}
.languages .language:nth-of-type(9){
    left: 3rem;
    top: 5rem;
}
.languages .language:nth-of-type(10){
    left: -5rem;
    top: 12rem;
}

main section article:nth-of-type(2){  /* Second article under the section that is under <main> */
    margin-bottom: 10rem;
}

/* Form */
main section article:nth-of-type(3) .form-group{  /* Form with a class of form-group under the third article under the section that is under <main> */
    position: relative;
}

/* Textbox */
main section article:nth-of-type(3) .form-group input{    /* Textbox with a class of submit-btn under the form with a class of form-group under the third article under the section that is under <main> */
    height: 4.4rem;
    width: 40rem;
    
    border: 1px solid var(--main-border-color);
    border-radius: 0.2rem 0 0 0.2rem;
    
    font-size: 1.6rem;
    
    line-height: 1.6;
    
    padding: 0.8rem 12rem .8rem 1.2rem;
    
    transition: 0.1s ease;
}
main section article:nth-of-type(3) .form-group input:hover{
    border-color: var(--input-hover-border-color);
}
main section article:nth-of-type(3) .form-group input:focus{
    border-color: var(--main-color);
    
    box-shadow: inset 0 0 0 1px var(--main-color);
}

/* Search Button */
main section article:nth-of-type(3) .form-group .search-btn{  /* Button with a class of submit-btn under the form with a class of form-group under the third article under the section that is under <main> */
    background-color: var(--main-color);
    
    color: white;
    
    height: 4.4rem;
    
    padding: 0.8rem 1.6rem;
    
    border: none;
    border-radius: 0 0.25rem 0.25rem 0;
    
    font-size: 2rem;
    
    position: absolute;
    
    cursor: pointer;

    transition: 0.2s ease;
}
main section article:nth-of-type(3) .form-group .search-btn:hover{
    background: var(--search-btn-hover-bg-color);
}

/* Dropdown */
main section article:nth-of-type(3) .form-group #language{    /* Dropdown with an id of language under the form with a class of form-group under the third article under the section that is under <main> */
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    
    border: none;
    
    background: transparent;
    
    padding: 0 2.4rem;
    
    width: 11rem;
    
    color: #4a4a4a;
    
    cursor: pointer;
    
    padding: 0;
}
main section article:nth-of-type(3) .form-group #language:hover{
    background: var(--language-card-hover-bg-color);
}

main section article:last-of-type{    /* Last article under the section that is under main */
    margin-top: 3rem;
    margin-left: 5rem;
    
    position: relative;
}
main section article:last-of-type .lang-btn{  /* Button with a class of lang-btn under the last article under the section that is under main */
    color: var(--main-color);
    
    font-weight: 700;
    font-size: 1.5rem;
    
    padding: 0.6rem 1.2rem;
    
    border: 1px solid var(--main-border-color);
    border-radius: 2px;
    
    cursor: pointer;
}
main section article:last-of-type .lang-btn .fa{  /* Icon under the button with a class of lang-btn under the last article under the section that is under main */
    font-weight: bold;
    
    margin-left: 1rem;
}
main section article:last-of-type .lang-btn:focus{
    border-color: var(--main-color);
    
    box-shadow: inset 0 0 0 1px var(--main-color);
}

/* Pseduo-elements of last article under the section that is under main */
main section article:last-of-type::before{
    content: "";
    
    height: 1px;
    width: 6rem;
    
    background-color: lightgrey;
    
    position: absolute;
    left: -8rem;
}
main section article:last-of-type::after{
    content: "";
 
    height: 1px;
    width: 6rem;
 
    background-color: lightgrey;
 
    position: absolute;
    left: 29.5rem;
}

hr{
    margin: 5rem auto;
    border-color: lightgrey;
}